@page
@model Aspnet_Core_Movie.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>MovieList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieList.Id" />
            <div class="form-group">
                <label asp-for="MovieList.Title" class="control-label"></label>
                <input asp-for="MovieList.Title" class="form-control" />
                <span asp-validation-for="MovieList.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieList.Rating" class="control-label"></label>
                <input asp-for="MovieList.Rating" class="form-control" />
                <span asp-validation-for="MovieList.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieList.Genre" class="control-label"></label>
                <input asp-for="MovieList.Genre" class="form-control" />
                <span asp-validation-for="MovieList.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieList.Director" class="control-label"></label>
                <input asp-for="MovieList.Director" class="form-control" />
                <span asp-validation-for="MovieList.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
